<div class="row">
	<div class="col-lg-8 col-lg-offset-2 billing-form">
		<center>
			<%= form_for @billing do |f| %>
				<span>
				<%= f.text_field :name, placeholder: :name.capitalize %>
				</span>
				<span>
				<%= f.text_field :description, placeholder: :description.capitalize %>
				</span>
				<span>
				<%= f.text_field :value, placeholder: :value.capitalize %>
				</span>
				<span id="billing_is_paid">
				<%= f.label "Already paid?" %>
				<%= f.check_box :status %>
				</span>
			</center>
		</div>
</div>
		<%= f.fields_for :debts do |builder | %>
			<%= render "debt_fields", :f => builder %>
		<% end %>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 billing-form">
			<p class="pull-right"><%= link_to_add_fields "Add Debtor", f, :debts %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 billing-form">
			<p class="pull-right"><%= f.submit %></p>
			</div>
	</div>
	<% end %>