<div class="fields">
	<p>
		<%= f.label :debtor_id %>
		<%= f.text_field :debtor_id %>
	</p>
	<p>
		<%= f.label :value %>
		<%= f.text_field :value %>
	</p>
	<p>
		<%= f.label "Already paid?" %>
		<%= f.check_box :status %>
	</p>
	<%= link_to_remove_fields "remove", f %>
</div>