<h1>New Billing</h1>
<%= form_for @billing do |f| %>
	<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
	</p>
	<p>
	<%= f.label :description %>
	<%= f.text_field :description %>
	</p>
	<p>
	<%= f.label :value %>
	<%= f.text_field :value %>
	</p>
	<p>
	<%= f.label "Already paid?" %>
	<%= f.check_box :status %>
	</p>

	<%= f.fields_for :debts do |builder | %>
		<%= render "debt_fields", :f => builder %>
	<% end %>
	<p><%= link_to_add_fields "Add Debtor", f, :debts %></p>
	<p><%= f.submit "Submit" %></p>
<% end %>	